<!-- <div class="container">
    <div class="row" id="marital">
      <div class="col-sm-4">
        <h3>Marital Status</h3>
      </div>
      <div class="col-sm-8">
        <span class="text-right">
          <a href="#"><i class="fas fa-plus-circle ml-2"></i> Separation Papers</a>
          <a href="#"><i class="fas fa-plus-circle ml-2"></i> Divorce Decree</a>
          <a href="#"><i class="fas fa-plus-circle ml-2"></i> Spouse Death Certificate</a>
        </span>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-10">
            Mariage Certificate
          </div>
          <div class="col-sm-2">
            <span class="text-right con-verified">
              <i class="fas fa-check-circle"></i>
              Verified
            </span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group" *ngIf="userProfile?.userDriverLicense">
          <label>First Name</label>
          <input type="text" [disabled]="userProfile.userDriverLicense.firstName" ng-model="userProfile.userDriverLicense.firstName"
            [value]="userProfile.userDriverLicense.firstName" class="form-control">
          <label>Last Name</label>
          <input type="text" [disabled]="userProfile.userDriverLicense.lastName" ng-model="userProfile.userDriverLicense.lastName"
            [value]="userProfile.userDriverLicense.lastName" class="form-control">
          <label>Middle</label>
          <input type="text" [disabled]="userProfile.userDriverLicense.middleName" ng-model="userProfile.userDriverLicense.middleName"
            [value]="userProfile.userDriverLicense.middleName" class="form-control">
          <label>Sex</label>
          <input type="text" [disabled]="userProfile.userDriverLicense.sex" ng-model="userProfile.userDriverLicense.sex"
            [value]="userProfile.userDriverLicense.sex" class="form-control">
          <label>License #</label>
          <input type="text" [disabled]="userProfile.userDriverLicense.licenseNumber" ng-model="userProfile.userDriverLicense.licenseNumber"
            [value]="userProfile.userDriverLicense.licenseNumber" class="form-control">
          <label>Date of Birth</label>
          <input type="text" [disabled]="userProfile.userDriverLicense.dob" ng-model="userProfile.userDriverLicense.dob"
            [value]="userProfile.userDriverLicense.dob | date: 'shortDate'" class="form-control">
          <label>Country</label>
          <input type="text" [disabled]="userProfile.userDriverLicense.country" ng-model="userProfile.userDriverLicense.country"
            [value]="userProfile.userDriverLicense.country" class="form-control">
          <label>Postcode</label>
          <input type="text" [disabled]="userProfile.userDriverLicense.postCode" ng-model="userProfile.userDriverLicense.postCode"
            [value]="userProfile.userDriverLicense.postCode" class="form-control">
        </div>
      </div>
    </div>
  </div> -->