<div class="container-fluid">
  <div class="row nav-row">
    <div class="container">
      <ul>
        <li *ngIf="isUserLogged && isStateApprover">
          <a routerLink="/dashboard" routerLinkActive="active">{{
            'Pending Approvals'
          }}</a>
        </li>
        <li *ngIf="isUserLogged && isCaseWorker">
          <a routerLink="/find-profile" routerLinkActive="active"
            ><i class="fas fa-search"></i> {{ 'Find Profile' }}</a
          >
        </li>
        <li *ngIf="isUserLogged && isCaseWorker">
          <a routerLink="/dashboard" routerLinkActive="active">{{
            'Assigned Citizen Profiles'
          }}</a>
        </li>
        <li *ngIf="isUserLogged && isEnrollmentBroker">
          <a routerLink="/dashboard" routerLinkActive="active">{{
            'Pending Enrollments'
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
