<nav class="navbar navbar-light navbar-expand-md header">
  <div class="container">
    <a class="con-logo" href="/">
      <img src="assets/Contoso_logo.png" class="logo" alt="Home" />
    </a>
    <ul class="nav navbar-nav ml-auto">
      <li class="dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="user"><i class="fas fa-user fa-sm"></i></span>
          {{ currentUser.name }}
          <b class="caret"></b>
        </a>
        <div
          class="dropdown-menu  dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item" href="#" (click)="userLogout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<app-menu></app-menu>
<router-outlet></router-outlet>
