<div class="container-fluid sub-nav">
  <div class="container">
    <a href="/" class="mr-2">Dashboard</a> /
    <span class="mx-2">New Citizen</span>
  </div>
</div>
<div class="container">
  <h4 class="mt-4">Create a New Citizen</h4>
  <div class="profile-box">
    <div class="box-title">
      Citizen Profile
    </div>
    <!-- TODO - Add validation to the fields -->
    <form #profileForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="hovereffect">
            <img
              #img
              id="imgProofE"
              class="profile-picture"
              [src]="imgUrl"
              alt="Citizen Proof Document"
            />
            <div class="overlay">
              <input
                #file
                id="uploadFile"
                type="file"
                accept="image/*"
                (change)="changeListener($event)"
              />
              <label for="uploadFile" class="h2">Upload Proof Photo</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="desc2 con-required mt-4" for="firstName"
              >First Name</label
            >
            <input
              type="text"
              required
              class="form-control"
              id="firstName"
              name="firstName"
              [(ngModel)]="model.firstName"
            />
          </div>
          <div class="form-group">
            <label class="desc2" for="midName">Middle Name</label>
            <input
              type="text"
              class="form-control"
              id="midName"
              name="midName"
              [(ngModel)]="model.middleName"
            />
          </div>
          <div class="form-group">
            <label class="desc2 con-required" for="lastName">Last Name</label>
            <input
              type="text"
              required
              class="form-control"
              id="lastName"
              name="lastName"
              [(ngModel)]="model.lastName"
            />
          </div>
          <div class="form-group">
            <label class="desc2 con-required" for="dateOfBirth"
              >Date of Birth</label
            >
            <input
              type="date"
              required
              class="form-control m75"
              id="dateOfBirth"
              name="dateOfBirth"
              [(ngModel)]="model.dateOfBirth"
              placeholder="MM/DD/YYYY"
            />
          </div>
          <div class="form-group">
            <label class="desc2 con-required" for="citizenship"
              >Citizenship</label
            >
            <input
              type="text"
              required
              class="form-control"
              id="citizenship"
              name="citizenship"
              [(ngModel)]="model.citizenship"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="desc2 con-required mt-4" for="street">Street</label>
            <input
              type="text"
              required
              class="form-control"
              id="street"
              name="street"
              [(ngModel)]="model.street"
            />
          </div>
          <div class="form-group">
            <label class="desc2 con-required" for="city">City</label>
            <input
              type="text"
              required
              class="form-control"
              id="city"
              name="city"
              [(ngModel)]="model.city"
            />
          </div>
          <div class="form-group">
            <label class="desc2 con-required" for="state">State</label>
            <!--TODO-->
            <select
              class="form-control m50"
              required
              id="state"
              name="state"
              [(ngModel)]="model.state"
            >
              <!--<option>NJ</option>-->
              <option>NY</option>
            </select>
          </div>
          <div class="form-group">
            <label class="desc2 con-required" for="postcode">Postal Code</label>
            <input
              type="text"
              required
              class="form-control"
              id="postcode"
              name="postcode"
              [(ngModel)]="model.zip"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="desc2 con-required mt-4" for="federalIncome"
              >Federal Income</label
            >
            <input
              type="number"
              required
              class="form-control"
              id="federalIncome"
              name="federalIncome"
              [(ngModel)]="model.federalIncome"
            />
          </div>
          <div class="form-group">
            <label class="desc2 con-required" for="stateIncome"
              >State Income</label
            >
            <input
              type="number"
              required
              class="form-control"
              id="stateIncome"
              name="stateIncome"
              [(ngModel)]="model.stateIncome"
            />
          </div>
          <div class="form-group">
            <label class="desc2 con-required" for="preferredHealthcarePlan"
              >Preferred Healthcare Plan</label
            >
            <select
              class="form-control"
              required
              id="preferredHealthcarePlan"
              name="preferredHealthcarePlan"
              [(ngModel)]="model.preferredHealthcarePlan"
            >
              <option *ngFor="let plan of availablePlans" [ngValue]="plan">{{
                plan.name
              }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row my-5 ">
        <div class="col-md-12 text-center">
          <button
            type="submit"
            class="btn btn-info"
            [disabled]="!profileForm.form.valid"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- PROCESSING MODAL -->
  <div
    class="modal fade"
    id="modalcreationprocessing"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalcreationprocessing"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="ml-3 mt-1">Transaction Processing...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CREATE PROFILE SUCCESSFUL MODAL -->
  <div
    class="modal fade"
    id="modalCreateSuccessful"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalCreateSuccessful"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row justify-content-center">
            <div>
              <h5 class="m-4">The Citizen Profile was created successfully!</h5>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="createModal()">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- SUBMISSION SUCCESSFUL MODAL -->
  <div
    class="modal fade"
    id="modalSubmitSuccessful"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalSubmitSuccessful"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row justify-content-center">
            <img
              src="../../assets/VerificationSuccessful.png"
              alt="Submission Successful"
              style="height: 90%; width: 90%;"
            />
          </div>
          <div class="row justify-content-center">
            <div>
              <span style="color:#24A335;"><h5>Good news!</h5></span>
              Submission was successful. A broker will now perform a review and
              provide recommendations on benefits based on the information
              submitted in this profile.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="successModal()">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
